@model zSkinCareBookingRepositories_.Models.Therapist

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Therapist</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Fullname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Fullname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Phone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Phone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Specialization)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Specialization)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ExpMonth)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ExpMonth)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Bio)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Bio)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateAtDateTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreateAtDateTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UpdateAtDateTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UpdateAtDateTime)
		</dd>
		<dt class="col-sm-2">
			Trạng thái
		</dt>
		@*
		<dd class="col-sm-10">
		@Html.DisplayFor(model => model.IsDeleted)
		</dd> *@

		<dd class="col-sm-10">
			@(Model.IsDeleted.HasValue ? (Model.IsDeleted.Value ? "Không hoạt động" : "Đang hoạt động") : "Đang hoạt động")
		</dd>
		@*     <dt class = "col-sm-2">
		@Html.DisplayNameFor(model => model.IsDeleted)
		</dt>
		<dd class = "col-sm-10">
		@Html.DisplayFor(model => model.IsDeleted)
		</dd> *@
		<a href="d:\prn231\api_mvc\sp25_net1718_rpr231_asm1_version3_se173443_khanhtd\sp25_mvc_fe\views\therapists\details.cshtml">d:\prn231\api_mvc\sp25_net1718_rpr231_asm1_version3_se173443_khanhtd\sp25_mvc_fe\views\therapists\details.cshtml</a>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
